<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.byAvgustine">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.byAvgustine"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name="com.example.byAvgustine.Cart">

        </activity>
        <activity android:name="com.example.byAvgustine.Products" />
        <activity android:name="com.example.byAvgustine.history" />
        <activity android:name="com.example.byAvgustine.ResetAddress" />
        <activity android:name="com.example.byAvgustine.ResetPass" />
        <activity android:name="com.example.byAvgustine.UserProfile" />
        <activity android:name="com.example.byAvgustine.HomeContent" />
        <activity android:name="com.example.byAvgustine.HomeActivity" />
        <activity android:name="com.example.byAvgustine.SignupActivity" />
        <activity android:name="com.example.byAvgustine.ProductDetailPage" />
        <activity android:name="com.example.byAvgustine.SigninActivity" />
        <activity android:name="com.example.byAvgustine.AskActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.byAvgustine.MainActivity" />
    </application>

</manifest>